// .projects {
//   position: relative;

//   display: flex;

// }

.projects {
	overflow-x: hidden;
}

.projects_element_wrapper {
	display: flex;
	flex-direction: column;
	height: 400vh;
	flex-wrap: nowrap;
	background-image: url('/images/projects_bg.svg');
	background-size: cover;
	background-color: #292929;
}

@media screen and (max-width: 600px) {
	// .projects_element_wrapper {
	//   display: flex;
	//   width: 100% !important;
	//   // flex-wrap: nowrap;
	//   flex-direction: column;
	// }
}
