.contact {
	position: relative;
	width: 100vw;
	height: 86vh;
	background-color: #292929;
	color: white;
}

.contact__heading_wrapper {
	width: 100vw;
	height: 23vh;
	background-color: #242424;
	display: flex;
	justify-content: center;
}
.contact__wrapper {
	width: 73vw;
	display: flex;
	align-items: center;
}
.contact__heading {
	h1 {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 35px;
		line-height: 45px;
		margin-bottom: 2vh;
	}
	p {
		font-size: 20px;
	}
}
.contact__title_visible {
	opacity: 1;
	transition: all 0.6s;
	filter: blur(0);
	transform: translate(0);

	transition-delay: 200ms;
}
.contact__title_notVisible {
	opacity: 0;
	transition: all 0.6s;
	filter: blur(5px);
	transform: translate(-15%);

	transition-delay: 200ms;
}
.contact__arrow {
	position: absolute;
	width: 80px;
	stroke: #ff00ff;
	margin-left: 3.5px;
}
.contact__body_wrapper {
	width: 100vw;
	height: 63vh;
	display: flex;
	justify-content: center;
	// background-image: url('/images/1.svg');
	// background-repeat: no-repeat;
	// background-size: contain;
	// background-position: bottom;
}

.contact__bg {
	position: absolute;
	margin: -3vh 0 0 45vw;
	width: 34vw;
}
.contact__form_wrapper {
	width: 73vw;
	margin-top: 3vh;
	display: flex;
	justify-content: flex-start;
	gap: 7vw;
	form {
		all: unset;
		display: flex;
		flex-direction: column;
		width: 20.58vw;

		textarea,
		input {
			font-family: 'Inter';
			font-style: normal;
			margin-top: 1vh;
			padding: 5px;
			// border: 0;
			width: 20vw;
			height: 5vh;
			background-color: #373737;
			color: #aeaeae;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 10px;
			text-indent: 10px;
		}

		textarea {
			height: 16vh;
			padding-top: 10px;
			resize: none;
			margin-bottom: 4vh;
		}

		.contact__sumbit {
			cursor: pointer;
			border: 0;
			color: white;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			// margin-top: 2vh;
			width: 10.5vw;
			height: 6.5vh;
			//   background-color: #ff00ff;
			background: linear-gradient(90deg, #ff00ff, #ff8bff);
			border-radius: 10px;
			transition: all 0.5s;
			filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
			svg {
				width: 24px;
				height: 24px;
				margin-top: 1px;
				transition: all 0.5s;
			}
			span {
				transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
			}
		}
		.contact__sumbit:hover {
			svg {
				scale: 1.15;
				transform: rotate(45deg);
			}
			span {
				transform: translateX(4px);
			}
		}
	}
	.contact__links {
		margin-top: 2vh;
		margin-left: calc(-21px - 0.5vw);
		display: flex;
		flex-direction: column;
		div {
			display: flex;
			align-items: center;
			gap: 0.5vw;
			line-height: 33px;
			cursor: pointer;
			font-size: 21.5px;

			transition: all 0.25s;
			.contact__arrow_icon {
				transition: transform 0.25s ease, opacity 0.25s ease;
				display: inline-block;
				transform: translateX(0.5em) translateZ(0);
				opacity: 0;
				position: relative;
			}
		}
		div:hover {
			transform: translateX(1.2em);
			color: #ff00ff;
			.contact__arrow_icon {
				transform: translateX(0.25em) translateZ(0);
				opacity: 1;
			}
		}
	}
	.contact__icon,
	.contact__arrow_icon {
		width: 21px;
		height: 21px;
	}
}
.contact__link_visible {
	opacity: 1;
	transition: all 0.6s;
	filter: blur(0);
	transform: translate(0, 0);

	transition-delay: calc(200ms * var(--order));
}
.contact__link_notVisible {
	opacity: 0;
	transition: all 0.6s;
	filter: blur(2px);
	transform: translate(35%, 20%);

	transition-delay: calc(200ms * var(--order));
}

.contact__input_visible {
	opacity: 1;
	transition: all 0.6s;
	filter: blur(0);
	transform: translate(0, 0);
	transition-delay: calc(130ms * var(--order));
}
.contact__input_notVisible {
	opacity: 0;
	transition: all 0.6s;
	filter: blur(2px);
	transform: translate(-35%, 20%);
	transition-delay: calc(130ms * var(--order));
}

.contact__input_group {
	position: relative;
	padding: 20px 0 0;
	margin-top: 10px;
	width: 100%;
	max-width: 180px;
}

.input {
	font-family: inherit;
	width: 100%;
	border: none;
	outline: 0;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
	font-size: 18px;
	// box-shadow: -7px 7px 14px #0e0e0e;
}
.input:focus ~ .contact__input_label {
	color: #ff8bff;
}

.contact__input_label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 18px;
	color: #9b9b9b;
	pointer-events: none;
}
