.loader__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#180018, #000000);
}
.loader_text {
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  font-family: "Exo";
  font-style: normal;

  color: white;
}

.loader {
  position: relative;
  width: 300px;
  height: 300px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.loader:after {
  box-shadow: 0 2px 0 #ff00ff inset; //#05609c
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .loader {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   max-width: 6rem;
//   margin-top: 3rem;
//   margin-bottom: 3rem;
// }
// .loader:before,
// .loader:after {
//   content: "";
//   position: absolute;
//   border-radius: 50%;
//   animation: pulsOut 2s ease-in-out infinite;
//   filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
// }
// .loader:before {
//   width: 100%;
//   padding-bottom: 100%;
//   box-shadow: inset 0 0 0 1rem #fff;
//   animation-name: pulsIn;
// }
// .loader:after {
//   width: calc(100% - 2rem);
//   padding-bottom: calc(100% - 2rem);
//   box-shadow: 0 0 0 0 #fff;
// }

// @keyframes pulsIn {
//   0% {
//     box-shadow: inset 0 0 0 1rem #fff;
//     opacity: 1;
//   }
//   50%,
//   100% {
//     box-shadow: inset 0 0 0 0 #fff;
//     opacity: 0;
//   }
// }

// @keyframes pulsOut {
//   0%,
//   50% {
//     box-shadow: 0 0 0 0 #fff;
//     opacity: 0;
//   }
//   100% {
//     box-shadow: 0 0 0 1rem #fff;
//     opacity: 1;
//   }
// }
