.contact {
  position: relative;
  width: 100vw;
  height: 86vh;
  background-color: #292929;
  color: white;
}

.contact__heading_wrapper {
  width: 100vw;
  height: 23vh;
  background-color: #242424;
  display: flex;
  justify-content: center;
}
.contact__heading {
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 2vh;
  }
}
.contact__arrow {
  position: absolute;
  width: 80px;
  stroke: #ff00ff;
  margin-left: 3.5px;
}
.contact__body_wrapper {
  width: 100vw;
  height: 63vh;
  display: flex;
  justify-content: center;
}
.contact__wrapper {
  width: 73vw;
}

.contact__bg {
  position: absolute;
  margin: -3vh 0 0 45vw;
  width: 34vw;
}

.contact__input_group {
  position: relative;
}
.contact__form_wrapper {
  width: 73vw;
  margin-top: 3vh;
  display: flex;
  justify-content: flex-start;
  gap: 7vw;
  form {
    all: unset;
    display: flex;
    flex-direction: column;
    width: 20.58vw;
    label {
      position: absolute;
      left: 15px;
      color: #e8e8e8;
      pointer-events: none;
      transform: translateY(1rem);
      transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
      //   display: none;
      //   margin: 2vh 0 0.3vh 0vh;
    }
    .input:focus,
    input:valid {
      outline: none;
      border: 1.5px solid #1a73e8;
    }

    .input:focus ~ label,
    input:valid ~ label {
      transform: translateY(-50%) scale(0.8);
      background-color: #212121;
      padding: 0 0.2em;
      color: #2196f3;
    }
    textarea,
    input {
      font-family: "Inter";
      font-style: normal;
      margin-top: 2vh;
      padding: 5px;
      border: 0;
      width: 20vw;
      height: 5vh;
      background-color: #373737;
      color: #aeaeae;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      text-indent: 10px;
    }
    textarea::placeholder,
    input::placeholder {
      color: #aeaeae;
    }
    textarea {
      height: 16vh;
      padding-top: 10px;
      resize: none;
    }
    textarea::placeholder {
      color: #aeaeae;
    }
    input:focus-visible,
    textarea:focus-visible {
      outline-offset: unset;
      outline: unset;
    }
    .contact__sumbit {
      margin-top: 4vh !important;
      cursor: pointer;
      border: 0;
      color: white;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2vh;
      width: 10.5vw;
      height: 6vh;
      //   background-color: #ff00ff;
      background: linear-gradient(90deg, #ff00ff, #ff8bff);
      border-radius: 10px;
      transition: all 0.5s;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
      svg {
        width: 20px;
        height: 20px;
        margin-top: 1px;
        transition: all 0.5s;
      }
      span {
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      }
    }
    .contact__sumbit:hover {
      svg {
        scale: 1.15;
        transform: rotate(45deg);
      }
      span {
        transform: translateX(4px);
      }
    }
  }
  .contact__links {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      gap: 0.5vw;
      line-height: 1.5em;
      cursor: pointer;
      font-size: 18px;
      transition: all 0.5s;
    }
    div:hover {
      color: #ff00ff;
    }
  }
  .contact__icon {
    width: 17px;
    height: 17px;
  }
}
