.project {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #292929;
  display: flex;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(-0.5vw 0 10px #131313);
}

.project__container {
  position: absolute;
  width: 83vw;
  height: 100%;
  display: grid;
  place-content: center;
}
// .project__text_container {
//   //   width: 36vw;
// }

.project__main_title {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 82px;
  color: #ff00ff;
  margin-top: 0;
  top: 6vh;
}

.project__content_container {
  color: white;
  display: flex;

  gap: 7vw;
}

.project__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
}
.project__list_container {
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  margin-top: 4vh;
  padding: 0;
}
.project__list_container li {
  margin-top: 1em;
}

.project__slideshow_container {
  box-shadow: -7px 7px 14px #0e0e0e;
  border-radius: 32px;
  width: 40.5vw;
  height: 27vw;
  display: grid;
  place-content: center;
  transition: all 0.2s;
}
// .project__slideshow_container:hover {
//   // transform: scale(1.01);
//   // box-shadow: -7px 7px 14px #ff00ff;
// }

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.project__no_display {
  display: none;
}

.project1_bg {
  background-image: url("/images/project_1_bg.svg");
  background-repeat: no-repeat;
  // position: absolute;
  // left: 0;
  // top: -23vh;

  // object-fit: contain;
  // overflow: hidden;
  // background-size: contain;
  // width: 1300px;
  // height: 1134px;
}

.project2_bg {
  background-image: url("/images/project_2_bg.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  // position: absolute;
  // left: 0;
  // top: 51vh;

  // object-fit: contain;
  // overflow: hidden;
  // background-size: contain;
  // width: 1581px;
  // height: 507px;
}
.project3_bg {
  background-image: url("/images/project_3_bg.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  // position: absolute;
  // left: 0;
  // top: -23vh;

  // object-fit: contain;
  // overflow: hidden;
  // background-size: contain;
  // width: 1647px;
  // height: 1295.85px;
}
.project4_bg {
  background-image: url("/images/project_4_bg.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  // position: absolute;
  // left: 0;
  // top: 34.3vh;

  // object-fit: contain;
  // overflow: hidden;
  // background-size: contain;
  // width: 1545px;
  // height: 731px;
}
.project5_bg {
  background-image: url("/images/project_5_bg.svg");
  background-repeat: no-repeat;
  background-size: 130vw;
  // position: absolute;
  // left: -50vw;
  // top: -5vh;

  // object-fit: contain;
  // overflow: hidden;
  // background-size: contain;
  // width: 2491px;
  // height: 1805px;
}

.project_start_line {
  position: absolute;
  width: 50vw;
  height: 24px;
  left: 50vw;
  top: 9vh;
}

.project_end_line {
  position: absolute;
  left: 0;
  top: 9vh;
  width: 50vw;
  height: 24px;
}

.project_between_line {
  position: absolute;
  top: 9vh;
  height: 24px;
}

@media screen and (max-width: 600px) {
  .project__main_title {
    font-size: 2.3em;
    line-height: 1em;
  }
  .project__content_container {
    flex-direction: column;
  }
  .project__title {
    font-size: 1.5em;
  }
  .project__list_container {
    font-size: 1em;
  }
  .project {
    height: 125vh;
  }
  .project__container {
    justify-content: start;
  }
  .project__slideshow_container {
    width: 80vw;
    height: 53.3vw;
  }

  .project_start_line,
  .project_end_line,
  .project_between_line {
    display: none;
  }
}
