.skills {
  position: relative;
  height: 135vh;
  width: 100vw;
  background-image: url(../../assets/images/skills_waves_upper.svg),
    url(../../assets/images/skills_waves_lower.svg),
    url("../../assets/images/skills_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills__container {
  position: absolute;
  width: 83vw;
  height: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
}
.skills__title {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 82px;
  color: #ff00ff;
  background-color: #292929;
  padding: 0.25em 0.45em 0.25em 0.45em;
  border-radius: 48px;
  margin-top: 42vh;
  transition: all 0.2s;
  cursor: default;
}

.skills__title:hover {
  transform: scale(1.01);
  box-shadow: -7px 7px 14px #ff00ff, 7px -7px 14px #ffffff;
}
.skills__container_blocks {
  position: absolute;
  width: 83vw;
  height: 30vh;
  margin-top: 68vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  .skills__container_blocks {
    margin-top: 130vh;
    grid-template-columns: auto;
    gap: 2em;
  }
  .skills {
    height: 250vh;
  }
  .skills__container {
    height: 270vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1360px) {
  .skills__container_blocks {
    margin-top: 80vh;
    grid-template-columns: auto auto;
    row-gap: 2em;
  }
  .skills {
    height: 170vh;
  }
  .skills__container {
    height: 180vh;
  }
}
